<%- include("partials/header"); -%>
    <h1>Contact Us</h1>
    <h5> <%= contactContent %> </h5>

    <h6>+91 997343****</h6>
    <h6>Mail : support@daily_journal.com <em>(Not Working this email.)</em></h6>
    <div class="bottom-container">
        <br><br><br><br> <hr>
          <p class="contact-message">Follow us:&ensp;
            <a class="footer-link" href="https://www.linkedin.com/in/prashant-david-b755a717b/"><i class="fab fa-linkedin"></i> </a>&ensp;
            <a class="footer-link" href="https://twitter.com/prashant_israel"><i class="fab fa-twitter"></i> </a>&ensp;
            <a class="footer-link" href="https://www.facebook.com/prashantkr00"><i class="fab fa-facebook"></i> </a>&ensp;
            <a class="footer-link" href="https://www.instagram.com/prashant__insta"><i class="fab fa-instagram"></i> </a><br></p>

        </div>
<%- include("partials/footer"); -%>
